* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'MarkPro-Black';
    src: url("ff-mark-pro-black.otf") format('woff2'),
         url("ff-mark-pro-black.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}
.navbar {
    background: linear-gradient(180deg, #00274b, #00172a);
    padding: 15px 0;
    text-align: center;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.navbar a.current-page {
  text-decoration: none;
    font-family: "MarkPro-Black";
    color: #dafff1;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0 0 3px #009872, 0 0 5px #009872;
	pointer-events: none;
}
ul {
    display: flex;
    gap: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    font-family: "MarkPro-Black";
    color: #daf3ff;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0 0 3px #00acff, 0 0 5px #00acff;
}
a:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #00acff, 0 0 8px #00acff, 0 0 12px #00acff;
}
.main-content {
    background: url("background.png") no-repeat center center;
    background-size: cover;
    min-height: 500px;
    padding: 50px;
    color: #daf3ff;
    font-family: 'MarkPro-Black';
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}
.main-content text {
    font-size: 25.6px;
    text-shadow: 0 0 3px #00274b;
    background-color: rgba(0, 39, 75, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00acff;
    max-width: 950px;
    text-align: left;
    margin-left: auto;
    margin-top: 0px;
}
.main-content alt-text {
    font-size: 25.6px;
    text-shadow: 0 0 3px #009872;
	color: #dafff1;
}
.main-content channel {
    font-size: 24px;
    text-shadow: 0 0 3px #00274b;
    background-color: rgba(0, 39, 75, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00acff;
    max-width: 10000px;
    text-align: left;
    margin-left: auto;
    margin-top: 0px;
}
.main-content contact {
    font-size: 28px;
    text-shadow: 0 0 3px #00274b;
    background-color: rgba(0, 39, 75, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #00acff;
    max-width: 850px;
    text-align: left;
    margin-left: auto;
    margin-top: 0px;
}
.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.profile-photo,
.mic-photo,
.infyte-profile,
.david-profile{
    border-radius: 20px;
    box-shadow: 0 0 15px #00acff;
    background-color: rgba(0, 39, 75, 0.8);
    width: 300px;
    object-fit: cover;
}
.social-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
	box-shadow: 0 0 15px #00acff;
    background-color: rgba(0, 39, 75, 0.8);
	border-radius: 20px;
	padding-top: 20px;
}
.logo{
    width: 300px;
    object-fit:contain;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
h1 {
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}
#video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px 0;
}
.video-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    box-shadow: 0 0 10px #00acff;
    border-radius: 9px;
    padding: 10px;
    background: rgba(0, 39, 75, 0.9);
}
.video-card iframe {
    width: 100%;
    height: 140px;
    border-radius: 5px;
}
.video-card .video-title {
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    color: #daf3ff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.products {
   display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px 0;
}
.product-card {
display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    box-shadow: 0 0 10px #00acff;
    border-radius: 9px;
    padding: 10px;
    background: rgba(0, 39, 75, 0.9);
}
.product-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 15px;
}
.product-card p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.buy-button {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
footer {
  background: linear-gradient(180deg, #00274b, #00172a);
  color: #daf3ff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.social-links img {
  transition: transform 0.3s ease, filter 0.3s ease;
  padding-top: 12px;
  padding-left: 12px;
}
.social-links img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #00acff) drop-shadow(0 0 10px #00acff) drop-shadow(0 0 15px #00acff);
}
